body {
  background-color: #b408f7; /* Azul oscuro */
  color: #edf2f4; /* Blanco suave */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f7b408;
  color: #edf2f4;
}

header {
  background-color: #f7b408; /* Rojo complementario */
  color: #edf2f4;
  padding: 2rem 0;
  text-align: center;
}
.barcos-paleta {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin: 1rem 0;
}
.barco-img {
  width: 60px;
  height: auto;
  cursor: grab;
  user-select: none;
}
nav {
  background-color: #08f7b4; /* color fondo de nav*/
  padding: 1rem;
  text-align: center;
}

nav a {
  color: #2b2d42;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ef233c;
}
.galeria {
 display: flex;
  gap: 16px;         /* Espacio entre imágenes */
  justify-content: center;
  align-items: center;
}
.galeria img{
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 16px;
}
.galeria-item {
  position: relative;
  display: inline-block;
}
.img-link{
  display: none;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 7);
  color: #fff;
  padding: 4px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}
.galeria-item:hover .img-link{
  display: block;
}


main {
  flex: 1;
  padding: 2rem;
  min-height: 60vh;
}

footer {
  background-color: #f7b408;
  color: #2b2d42;
  text-align: center;
  padding: 1rem 0;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mastermind-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  max-width: 400px;
}
.mm-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.mm-guess {
  display: flex;
  gap: 8px;
}
.mm-peg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #8d99ae;
  border: 2px solid #2b2d42;
}
.mm-feedback {
  display: grid;
  grid-template-columns: repeat(2, 12px);
  grid-template-rows: repeat(2, 12px);
  gap: 2px;
  margin-left: 16px;
}
.mm-feedback-peg {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #edf2f4;
  border: 1px solid #2b2d42;
}
.mm-secret {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}
.mm-secret .mm-peg {
  background: #2b2d42;
}
.mm-colors {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.mm-color {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #2b2d42;
  cursor: pointer;
}
.mm-color.red {
  background: #ef233c;
}
.mm-color.blue {
  background: #3a86ff;
}
.mm-color.green {
  background: #06d6a0;
}
.mm-color.yellow {
  background: #ffd166;
}
.mm-color.purple {
  background: #8338ec;
}
.mm-color.orange {
  background: #ff8800;
}
